#app {
  text-align: center;
  flex-grow: 1;
  display:flex;
  flex-direction:inherit;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
  
button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 255, 0.5);
  color: white;
  border-radius: 20px;
  text-align: center;
  font-size: 24px;
}
  
input {
  width: 60%;
  padding: 6px;
  margin-top: 6px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('img/pngtree-basketball-court-with-a-light-in-an-abandoned-park-at-night-picture-image_2486550.jpg');
  background-size: cover;         
  background-repeat: no-repeat;  
  background-position: center;     
  min-height: 100vh;               
  background-attachment: fixed;
  color: rgb(255, 255, 255);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

footer {
  color: rgb(243, 247, 245);
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 255, 0.5);
}

.logo {
  height: 60px;
  margin-left: 20px;
}

h1{
  color: rgb(243, 241, 241);
}

h2{
  color: rgb(243, 241, 241);
}

p{
  display:flex;
  justify-content: space-between;
  height: 22px;
  color:rgb(244, 247, 248);
  margin: 10px;
  font-size: 24px;
}

#main-content div {
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#main-content h3 {
  margin: 0;
}

#main-content label, #main-content p {
  font-size: 1em;
}

input[type="number"] {
  width: 80px;
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}


